

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-546547009008436466.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-546547009008436466.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-546547009008436466.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-546547009008436466.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-546547009008436466.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-546547009008436466.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-546547009008436466.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-546547009008436466.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-546547009008436466.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-546547009008436466.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-546547009008436466.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-546547009008436466.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-546547009008436466.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-546547009008436466.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-546547009008436466.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-546547009008436466.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-546547009008436466.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-546547009008436466.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-546547009008436466.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-546547009008436466.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-546547009008436466.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-546547009008436466.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-546547009008436466.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-546547009008436466.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-546547009008436466.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-546547009008436466.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-546547009008436466.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-546547009008436466.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-546547009008436466.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-546547009008436466.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-546547009008436466.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-546547009008436466.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-546547009008436466.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-546547009008436466.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-546547009008436466.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-546547009008436466.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-546547009008436466.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-546547009008436466.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-546547009008436466.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-546547009008436466.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-546547009008436466.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-546547009008436466.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-546547009008436466.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-546547009008436466.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-546547009008436466.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-546547009008436466.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-546547009008436466.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-546547009008436466.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-546547009008436466.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-546547009008436466.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-546547009008436466.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-546547009008436466.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-546547009008436466.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-546547009008436466.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-546547009008436466.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-546547009008436466.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-546547009008436466.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-546547009008436466.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-546547009008436466.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-546547009008436466.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-546547009008436466.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-546547009008436466.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-546547009008436466.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-546547009008436466.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-546547009008436466.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-546547009008436466.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-546547009008436466.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-546547009008436466.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-546547009008436466.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-546547009008436466.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-546547009008436466.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-546547009008436466.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-546547009008436466.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-546547009008436466.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-546547009008436466.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-546547009008436466.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-546547009008436466.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-546547009008436466.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-546547009008436466.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-546547009008436466.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-546547009008436466.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-546547009008436466.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-546547009008436466.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-546547009008436466.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-546547009008436466.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-546547009008436466.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-546547009008436466 .gp-invisible{visibility:hidden}.gps-546547009008436466 .gp-absolute{position:absolute}.gps-546547009008436466 .gp-relative{position:relative}.gps-546547009008436466 .gp-top-0{top:0}.gps-546547009008436466 .gp-z-1{z-index:1}.gps-546547009008436466 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-546547009008436466 .gp-mb-0{margin-bottom:0}.gps-546547009008436466 .gp-flex{display:flex}.gps-546547009008436466 .gp-inline-flex{display:inline-flex}.gps-546547009008436466 .gp-grid{display:grid}.gps-546547009008436466 .\!gp-hidden{display:none!important}.gps-546547009008436466 .gp-hidden{display:none}.gps-546547009008436466 .gp-h-full{height:100%}.gps-546547009008436466 .gp-w-full{width:100%}.gps-546547009008436466 .gp-max-w-full{max-width:100%}.gps-546547009008436466 .gp-flex-col{flex-direction:column}.gps-546547009008436466 .gp-flex-wrap{flex-wrap:wrap}.gps-546547009008436466 .\!gp-content-stretch{align-content:stretch!important}.gps-546547009008436466 .gp-items-center{align-items:center}.gps-546547009008436466 .\!gp-justify-start{justify-content:flex-start!important}.gps-546547009008436466 .\!gp-justify-center{justify-content:center!important}.gps-546547009008436466 .gp-justify-center{justify-content:center}.gps-546547009008436466 .gp-gap-y-0{row-gap:0}.gps-546547009008436466 .gp-overflow-hidden{overflow:hidden}.gps-546547009008436466 .gp-break-words{overflow-wrap:break-word}.gps-546547009008436466 .gp-rounded-none{border-radius:0}.gps-546547009008436466 .gp-leading-\[0\]{line-height:0}.gps-546547009008436466 .gp-no-underline{text-decoration-line:none}.gps-546547009008436466 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-546547009008436466 .gp-duration-200{transition-duration:.2s}.gps-546547009008436466 .gp-duration-300{transition-duration:.3s}.gps-546547009008436466 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-546547009008436466 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-546547009008436466 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-546547009008436466 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-546547009008436466 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-546547009008436466 .tablet\:gp-relative{position:relative}.gps-546547009008436466 .tablet\:\!gp-hidden{display:none!important}.gps-546547009008436466 .tablet\:gp-hidden{display:none}.gps-546547009008436466 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-546547009008436466 .tablet\:\!gp-justify-start{justify-content:flex-start!important}.gps-546547009008436466 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-546547009008436466 .mobile\:gp-absolute{position:absolute}.gps-546547009008436466 .mobile\:\!gp-hidden{display:none!important}.gps-546547009008436466 .mobile\:gp-hidden{display:none}.gps-546547009008436466 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-546547009008436466 .mobile\:\!gp-justify-start{justify-content:flex-start!important}.gps-546547009008436466 .mobile\:\!gp-justify-center{justify-content:center!important}}.gps-546547009008436466 .\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}@media (max-width:1024px){.gps-546547009008436466 .tablet\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}@media (max-width:767px){.gps-546547009008436466 .mobile\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}.gps-546547009008436466 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-546547009008436466 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-546547009008436466 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-546547009008436466 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-546547009008436466 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-546547009008436466 .\[\&_p\]\:gp-inline p{display:inline}.gps-546547009008436466 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-546547009008436466 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-546547009008436466 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gQCp4VDdA5" data-id="gQCp4VDdA5"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQCp4VDdA5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXjh6TlxlZ gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_546114276104864992-5f364ccc-1900-42f0-bb0c-77f570d16e5e.png","height":900,"src":"https://cdn.shopify.com/s/files/1/0873/7705/1914/files/gempages_546114276104864992-5f364ccc-1900-42f0-bb0c-77f570d16e5e.png","storage":"FILE_CONTENT","width":2160},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_546114276104864992-5f364ccc-1900-42f0-bb0c-77f570d16e5e.png","height":900,"src":"https://cdn.shopify.com/s/files/1/0873/7705/1914/files/gempages_546114276104864992-5f364ccc-1900-42f0-bb0c-77f570d16e5e.png","storage":"FILE_CONTENT","width":2160},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"image":{"backupFileKey":"gempages_546114276104864992-d0af511c-1f75-446d-8aca-dee871eb8aaf.png","height":1334,"src":"https://cdn.shopify.com/s/files/1/0873/7705/1914/files/gempages_546114276104864992-d0af511c-1f75-446d-8aca-dee871eb8aaf.png","storage":"FILE_CONTENT","width":750},"position":{"x":50,"y":50},"type":"image"}},"uid":"gvPslk4dZ0","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"top"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="gvPslk4dZ0 gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-mobile:auto"
        data-id="gvPslk4dZ0"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-start tablet:!gp-justify-start mobile:!gp-justify-start"
        style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_546114276104864992-d0af511c-1f75-446d-8aca-dee871eb8aaf_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzUwIiBoZWlnaHQ9IjEzMzQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTc1MC0xMzM0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI3NTAiIGhlaWdodD0iMTMzNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzUwIiBoZWlnaHQ9IjEzMzQiIGZpbGw9InVybCgjZy03NTAtMTMzNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTc1MCIgdG89Ijc1MCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_546114276104864992-5f364ccc-1900-42f0-bb0c-77f570d16e5e_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjE2MCIgaGVpZ2h0PSIyMTYwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMTYwLTIxNjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIxNjAiIGhlaWdodD0iMjE2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjE2MCIgaGVpZ2h0PSIyMTYwIiBmaWxsPSJ1cmwoI2ctMjE2MC0yMTYwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjE2MCIgdG89IjIxNjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjE2MCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTIxNjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyMTYwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjE2MCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0yMTYwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTIxNjAiIHRvPSIyMTYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_546114276104864992-5f364ccc-1900-42f0-bb0c-77f570d16e5e.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-mobile:auto;--d:block;--d-tablet:none;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-mobile:100%;--w-tablet:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjE2MCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTIxNjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyMTYwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjE2MCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0yMTYwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTIxNjAiIHRvPSIyMTYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+');--bgi-tablet:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjE2MCIgaGVpZ2h0PSIyMTYwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMTYwLTIxNjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIxNjAiIGhlaWdodD0iMjE2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjE2MCIgaGVpZ2h0PSIyMTYwIiBmaWxsPSJ1cmwoI2ctMjE2MC0yMTYwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjE2MCIgdG89IjIxNjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--bgi-mobile:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzUwIiBoZWlnaHQ9IjEzMzQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTc1MC0xMzM0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI3NTAiIGhlaWdodD0iMTMzNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzUwIiBoZWlnaHQ9IjEzMzQiIGZpbGw9InVybCgjZy03NTAtMTMzNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTc1MCIgdG89Ijc1MCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="{{ "gempages_546114276104864992-5f364ccc-1900-42f0-bb0c-77f570d16e5e.png" | file_url }}" data-srcset="{{ "gempages_546114276104864992-5f364ccc-1900-42f0-bb0c-77f570d16e5e.png" | file_url }} 768w,{{ "gempages_546114276104864992-5f364ccc-1900-42f0-bb0c-77f570d16e5e.png" | file_url }} 1024w,{{ "gempages_546114276104864992-5f364ccc-1900-42f0-bb0c-77f570d16e5e.png" | file_url }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="{{ "gempages_546114276104864992-5f364ccc-1900-42f0-bb0c-77f570d16e5e_1024x.png" | file_url }}" data-srcset="{{ "gempages_546114276104864992-5f364ccc-1900-42f0-bb0c-77f570d16e5e_1024x.png" | file_url }} 768w,{{ "gempages_546114276104864992-5f364ccc-1900-42f0-bb0c-77f570d16e5e_1024x.png" | file_url }} 1024w,{{ "gempages_546114276104864992-5f364ccc-1900-42f0-bb0c-77f570d16e5e_1024x.png" | file_url }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="{{ "gempages_546114276104864992-d0af511c-1f75-446d-8aca-dee871eb8aaf_768x.png" | file_url }}" data-srcset="{{ "gempages_546114276104864992-d0af511c-1f75-446d-8aca-dee871eb8aaf_768x.png" | file_url }} 768w,{{ "gempages_546114276104864992-d0af511c-1f75-446d-8aca-dee871eb8aaf_768x.png" | file_url }} 1024w,{{ "gempages_546114276104864992-d0af511c-1f75-446d-8aca-dee871eb8aaf_768x.png" | file_url }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div>  
             </div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:15px;--pr:15px;--pt:67px;--pb:32px;--pl-tablet:15px;--pr-tablet:15px;--pt-tablet:67px;--pb-tablet:364px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:70px;--pb-mobile:16px;--cg:32px;--pc:start;--pc-tablet:start;--pc-mobile:start;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-relative mobile:gp-absolute tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-start tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-start mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gZ-XQ379Pg gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gFfaIxCh9V" data-id="gFfaIxCh9V"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:0px;--cg:12px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFfaIxCh9V gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ghjy3Zh7IX gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gIWK47RfqX">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gIWK47RfqX "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIWK47RfqX_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gIWK47RfqX">
        .gIWK47RfqX {

}
.gIWK47RfqX p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="guUcQWnjsu gp-relative gp-flex gp-flex-col"
    >
      
    
    <div
    data-id="gi2rOeEimY"
      
      data-id="gi2rOeEimY"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:2px;--jc:left">
            <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g273EwL2YR ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] g1z2uihKQo"
    >
      <div 
      data-id="g1z2uihKQo"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFBB1C;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gs8BemaKNx ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gjajzmyzKD"
    >
      <div 
      data-id="gjajzmyzKD"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFBB1C;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="ghIBFrbMcZ ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gNlyBdnTB5"
    >
      <div 
      data-id="gNlyBdnTB5"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFBB1C;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g_9mG1Oy6H ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gZU3B432sS"
    >
      <div 
      data-id="gZU3B432sS"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFBB1C;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g916XYveSf ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gfcQhzhykS"
    >
      <div 
      data-id="gfcQhzhykS"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFBB1C;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g5cwl9p7vn">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g5cwl9p7vn "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:24px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:70px;--size-tablet:70px;--size-mobile:42px;--lh:100%;--lh-tablet:100%;--lh-mobile:100%;--fs:italic;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg5cwl9p7vn_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gu3-80lG6x">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gu3-80lG6x "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:32px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggu3-80lG6x_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gSEpQdpA-u" data-id="gSEpQdpA-u"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:32px;--cg:16px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSEpQdpA-u gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glS_zXeyDG gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:16px;--ta:center"
    
  >
    <style>
    .gxPN-LBL5q.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gxPN-LBL5q:hover::before {
      
      
    }

    .gxPN-LBL5q:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .gxPN-LBL5q .gp-button-icon {
      color: #242424;
    }

    .gxPN-LBL5q:hover .gp-button-price {
      color: #FFFFFF;
    }

    .gxPN-LBL5q .gp-button-price {
      color: #242424;
    }

    .gxPN-LBL5q .gp-product-dot-price {
       color: #242424;
    }

    .gxPN-LBL5q:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <button
      type="button" data-id="gxPN-LBL5q" aria-label="Get started"
      
      data-state="idle"
      class="gxPN-LBL5q gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#575757;--bg:#FFFFFF;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:10px;--pb-mobile:10px;--hvr-c:#FFFFFF;--c:#242424;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggxPN-LBL5q_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyY8fH8LZu gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .gbcRwpnJ_S.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gbcRwpnJ_S:hover::before {
      
      
    }

    .gbcRwpnJ_S:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .gbcRwpnJ_S .gp-button-icon {
      color: #242424;
    }

    .gbcRwpnJ_S:hover .gp-button-price {
      color: #FFFFFF;
    }

    .gbcRwpnJ_S .gp-button-price {
      color: #242424;
    }

    .gbcRwpnJ_S .gp-product-dot-price {
       color: #242424;
    }

    .gbcRwpnJ_S:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <button
      type="button" data-id="gbcRwpnJ_S" aria-label="Best Seller"
      
      data-state="idle"
      class="gbcRwpnJ_S gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#575757;--bg:#FFFFFF;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:10px;--pb-mobile:10px;--hvr-c:#FFFFFF;--c:#242424;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggbcRwpnJ_S_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-546547009008436466 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/671uvh-qv/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=546546936648303435&sectionId=546547009008436466)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggIWK47RfqX_text","label":"ggIWK47RfqX_text","default":"<p>90% SAY IT GREAT</p>"},{"type":"html","id":"gg5cwl9p7vn_text","label":"gg5cwl9p7vn_text","default":"unde omnis iste"},{"type":"html","id":"ggu3-80lG6x_text","label":"ggu3-80lG6x_text","default":"<p>But I must explain to you how all this mistaken idea</p>"},{"type":"html","id":"ggxPN-LBL5q_label","label":"ggxPN-LBL5q_label","default":"Get started"},{"type":"html","id":"ggbcRwpnJ_S_label","label":"ggbcRwpnJ_S_label","default":"Best Seller"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
